div.coinbase-commerce-wrapper {
    background-color: rgb(226, 226, 226);
}
div.coinbase-commerce-wrapper > a {
    height: 320px;
}

div.coinbase-commerce-wrapper > a > button {
    height: 42px;
    width: 220px;
    background: rgb(22, 82, 240);
    color: white;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 4px;
    margin: 2em;
}


div.coinbase-commerce-iframe-container {
    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
    width: 100%;
    height: 100%;
    /* position: fixed; */
    z-index: 99998;
    height: 680px;
}

iframe.coinbase-commerce-iframe {
    /* position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
    z-index: 99999;
    height: 100%;
    width: 100%;
    min-height: 640px;
    border: none;
}
